# Fichero de configuracion de la libreria ALLEGRO

# driver grafico
#  VGA      - Standard VGA
#  MODX     - Mode-X
#  VBE1     - VESA 1.x
#  VB2B     - VBE 2.0 (banked)
#  VB2L     - VBE 2.0 (linear)
#  VBE3     - VBE 3.0
#  VBAF     - VBE/AF
#  XTND     - Xtended mode
gfx_card = VB2B


# path para el driver VBE/AF
vbeaf_driver =


# nombre del mapa de scancode del teclado. Puede ser un .cfg
# Fichero objeto del KEYBOARD.DAT
#  BE       - Belgium
#  CH       - Swiss
#  CZ       - Czech
#  DE       - Germany
#  DK       - Denmark
#  DVORAK   - Dvorak
#  ES       - Spain
#  FI       - Finland
#  FR       - France
#  IT       - Italy
#  NO       - Norway
#  PT       - Portugal
#  RU       - Russian
#  SE       - Sweden
#  UK       - United Kingdom
#  US       - United States
keyboard = ES


# Nombre del fichero del sistema de lenguaje. Puede ser un .cfg
# Objeto del LENGUAGE.DAT
#  CZ       - Czech
#  DE       - German
#  DK       - Danish
#  EN       - English
#  ES       - Spanish
#  FI       - Finnish
#  FR       - French
#  IT       - Italian
#  RU       - Russian
#  SE       - Swedish
language = ES


# Tipo de raton: Microsoft, Logitech, NT
mouse =



[sound]


# driver de salida digital de sonido
#  0        - none
#  SB       - Sound Blaster (autodetect breed)
#  SB10     - Sound Blaster 1.0
#  SB15     - Sound Blaster 1.5
#  SB20     - Sound Blaster 2.0
#  SBP      - Sound Blaster Pro
#  SB16     - Sound Blaster 16
#  ESS      - ESS AudioDrive
#  ESC      - Ensoniq Soundscape
digi_card =


# driver de salida de musica
#  0        - none
#  OPL      - Adlib (autodetect OPL version)
#  OPL2     - OPL2 FM synth
#  OPLX     - Dual OPL2 (SB Pro-1)
#  OPL3     - OPL3 FM synth
#  SB       - raw SB MIDI interface
#  MPU      - MPU-401 MIDI interface
#  DIGI     - DIGMID software wavetable
#  AWE      - AWE32
midi_card =


# drivers de entrada de sonido
digi_input_card =
midi_input_card =


# Cuantas voces se reservaran para el driver de sonido
digi_voices =
midi_voices =


# Volumen de sonido (0-255)
digi_volume =
midi_volume =


# Mezcla de samples(0=rapido, 1=uso de 16 bits de entrada, 2=interpolacion)
quality =


# toggling this between 0 and 1 reverses the left/right panning of samples
flip_pan =


# Puerto de Sound Blaster SB(normalmente 220)
sb_port =


# canal de DMA de la SB (SoundBlaster). Normalmente el 1.
sb_dma =


# IRQ de la SB (Normalmente 7)
sb_irq =


# SB sample frequencias 11906, 16129, 22727 o 45454
# ESS Audiodrive usa 11363, 17046, 22729, o 44194
# Ensoniq Soundscape usa 11025, 16000, 22050, o 48000
sb_freq =


# Puerto FM de la SB (normalmente el 388)
fm_port =


# Puerto del MPU-401 (Normalmente 330)
mpu_port =


# numero de IRQ del MPU-401 (normalmente sb_irq)
mpu_irq =


# definicion de instrumentos del driver para ADLIB
ibk_file =
ibk_drum_file =


# patch para el driver DIGMID
patches =



